*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(236, 230, 230);
}
#img-pic{
    width: 75%;
    height: 50%;
    
}
#img{
    width: 75%;
    height: 50%;
    
    
}
.social-link{
    text-decoration: none;
    color: black;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}